<%-include("partials/header")%>

<div class="confession-section container">
  <div class="row">
    <div class="col-lg-8">
      <h3 class="confession-heading">Anonymous Confessions |<br /> Best Raw Confession Stories</h3>
      <p>Are you overwhelmed with guilt over a sordid relationship, addiction or even a secret facial cosmetic surgery?
         Are those untold secrets haunting you?
         Make anonymous confessions or read thousands of raw confessions left by others.</p>
    </div>
    <div class="col-lg-4">
      <img class="confess-img" src="images/confess-img.jpg" alt="">
    </div>
  </div>
  <hr style="background-color:#fff;">
  <p>None of us is perfect. We all make mistakes.
    Some of us have made bigger mistakes than others.
    We all at some point in our lives have held on, or are still holding on, to some secret confessions that we were,
    or are dying to share. Still, irrespective of the seriousness of the mistake, holding on to it only gives it more
    power.</p>
 <p>Here's a great collection of confession stories be it cheating confessions,
   adult confessions, or any other true confessions. You can read others anonymous secret confessions and
   also leave your reply, all this without giving up your identity. While some of the anonymous confessions
   can be shocking and unexpected sometimes, raw confessionsare also extremely romantic,
   bringing us closer to the peopleas they reveal their true selves. Can't wait to read such raw confessions?</p>
<div class="confess-btn">
  <a href="/secrets"><button class="btn btn-dark" type="button" name="button">Read Raw Confession Stories</button></a>
</div>


</div>


<%-include("partials/footer")%>
