<%- include('partials/loginNav') %>

<div class="container">

    <h3 class="confess-heading">Don't keep your secrets, share them anonymously!</h3>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control input-form" name="title" value="" placeholder="Write Title Of Your Story" autocomplete="off">
        <textarea type="text" rows="8" cols="80" class="form-control" name="content" placeholder="Write your confession here..."></textarea>

      </div>
      <button type="submit" class="btn btn-secondary" name="button">Submit</button>
    </form>



</div>
<%- include('partials/footer') %>
