<%-include("partials/loginNav")%>

<div class="confession-section container">

      <h3 class="confession-heading">The Freeing Power in True Anonymous Confessions</h3>
      <br>
      <h5>True peace of mind lies on confession. It is the greatest stress reliever.</h5>
      <br>
<p>
  1. Anonymous confessions encourages individuals to explore their deepest thoughts and feelings about
  upsetting experiences.
</p>

<p>
  2. It lightens our burden of guilt, fear, and shame making us feel the fresh breeze of confidence experiences.
</p>
<p>
  Now the next question that may come to your mind - Is there any safe place to confess our deepest secret?
</p>

<p>
  You might share your secret confession with a few friends in a moment of weakness and forget about it
  only to find out that your secret confession is no longer a secret. So, it is very important to share your
  hidden and disgraceful truths, aloud, into a safe environment. What if you had some way of sharing your
  confessions and getting it off our chest anonymously without anyone knowing it was you, but yet there for the world
  to see, then surely you will feel a load lifted off your shoulders.
</p>

<p>
  Vigyaa Anonymous is the best platform for online confessions. It gives you the opportunity to confess
  anonymously and share your secret confessions without being judged or labeled. By "anonymously" we mean
  completely anonymous. You don't have to register or login. Even there is no IP tracing. It's a safe place where
  you can confess anything.</p>
<p>
  The intent of anonymous confession is to provide healing for your heart and soul as well as to regain
  your lost self-esteem. So what are you waiting for?</p>


<div class="confess-btn">
  <a href="/submit"><button class="btn btn-dark" type="button" name="button">Write Anonymously</button></a>
</div>


</div>


<%-include("partials/footer")%>
